html{
  font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  color:#666;
}
.litijs p{
  font-weight:300;
}
.litijs-container .wrapper .code {
  float:right;
  width:760px;
}
.litijs-container .code pre {
  font-size:16px;
  margin: 0;
  padding: 0;
  border: none;
}
.litijs-container .wrapper .note { 
  float:left;
  width:200px;
  font-size:14px;
  -webkit-user-select: none;
}
.litijs-container .wrapper {
  overflow:auto;
  width:980px;
}
.litijs-container{
  width:1000px;
  margin:0 auto;
}
pre.prettyprint {
      background: url("../images/pre_code_bg_ylw2.gif") repeat scroll 0 0 transparent;
    }
