.litijs-container{
  width:1000px;
  margin:0 auto;
}
.litijs a[href],
.litijs a[href]:visited,
.litijs a[href]:active,
.litijs a[href]:hover {
  color:#333;
  font-weight:900;
}
body {
  font-family:
	"HelveticaNeue-Light",
  	"Helvetica Neue",
	Helvetica,
	Arial,
	Verdana,
	sans-serif;
  color:#333;
  background-color:#FAFAFF;
}
.litijs p{
  font-weight:300;
  width:600px;
  line-height:1.4em;
}
.litijs .prettyprint{
  width:600px;
  padding-bottom:10px;
}
.litijs pre {
  background: url("../images/pre_code_bg_ylw2.gif") repeat scroll 0 0 white;
  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
  line-height: 20px;
  font-size: 14px;
  border: none;
  margin:0;
  padding:0;
  padding-left: 30px;
  margin-right: 5px;
}
.litijs .wrapper pre {
  float:right;
  width:590px;
}

.litijs .wrapper .note p{
  width:300px;
  font-size:14px;
  margin: 0;
}
.litijs .wrapper .note{
  float:left;
  margin: 0px;
}
.litijs .wrapper{
  overflow:hidden;
  width:930px;
}
.litijs .section{
  display: block;
}
h1,
h2{
    font-weight: 700;
    text-shadow: 1px 1px 1px #CCCCCC;
}

.litijs .wrapper:last-child pre {
  padding-bottom:10px;
  /* background: red;*/
}
button{
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(center top , #888888, #575757) repeat scroll 0 0 transparent;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0, #575757),
       color-stop(.8, #888888)
    ) repeat scroll 0 0 transparent;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    outline: medium none;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
    border: 1px solid #555555;
    color: #E9E9E9;
}
button:active {
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(center top, #575757, #888888) repeat scroll 0 0 transparent;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0, #888888),
       color-stop(.8, #575757)
    ) repeat scroll 0 0 transparent;
}

.litijs .target {
	border-radius:40px;
	width:40px;
	height:40px;
	background-color:blue;
	display:inline-block;
}

.litijs button:disabled {
	background:lightgray;
    border:#ddd;
}
