- uses :story
- uses :template

- content_for :import_javascripts do
  prettify 
  litijs 
- content_for :import_stylesheets do
  prettify 
- content_for :import_less do
  litijs
 
-# vim: set sw=2 ts=2 expandtab :
