-# vim: set sw=2 ts=2 expandtab :

- content_for :template do
  .screen
    .content

- content_for :style do
  :plain
    .screen,.screen>.content {
      width: 640px;
      height: 480px;
    }
    .screen { 
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .screen > .content { 
      position: relative;
    }

- content_for :script do
  :plain
    $('#template .screen').defineTemplate('screen', {
      '.content' : '%screen-content'
    });
