- uses :dialog
- uses :style
- uses :ajax
- uses :flickr

- content_for :script do
  :plain 
    _layer.linkClasses();

    var DialogStory = Story([ '@testdialog',
      Story.Dialog('basic-dialog', {
        content: 'This is a test dialog',
        title: 'Testing... 1. 2. 3.'
      }, [
        { label: 'ok',     action: 'ok'     },
        { label: 'cancel', action: 'cancel' },
        { label: 'alart',  action: function() { alert('alart!'); return false; } },
      ]),
      Story.Switch({
        ok: [ 
          Story.Dialog('basic-dialog', {
            title: 'Thanks!',
            content: "You pressed OK, I hope you're ok with that"
          }, [ 
            { label : 'close', action: [ 
               function() { this.scope.dialog.data('content', 'closing... please wait'); 
               }, Story.delay(1000),
               function() { this.scope.dialog.data('content', 'closing... please wait 3'); 
               }, Story.delay(500),
               function() { this.scope.dialog.data('content', 'closing... please wait 2'); 
               }, Story.delay(500),
               function() { this.scope.dialog.data('content', 'closing... please wait 1'); 
               }, Story.delay(500), function() { this.scope.dialog.close(); }
            ] },
            { label : 'whoops', action: function() {
              Story.with_activation(Story.find('testdialog'), function() { 
                this.restart(); 
              }); 
            } },
            { label: 'test', action: Story.Dialog('basic-dialog', {
                title: 'Inner Dialog',
                content: "Inner dialogue is crazy talk."
              }, [ { label: 'ok', action: 'thanks' } ] ) 
            }
          ]) 
        ]
      })
    ]);

    $('<button>dialog</button>')
    .click(function() {
      var story = DialogStory.tell();
      story.update();
    })
    .appendTo($('body'))

-# vim: set sw=2 ts=2 expandtab :
