- uses :dialog
- uses :style

- content_for :script do
  :plain 
    _layer.linkClasses();

    DialogStory = Story(
      { setup: function() { 
      } },
      [ '@testdialog',
        Story.Dialog('basic-dialog', {
          content: 'This is a test dialog',
          title: 'Testing... 1. 2. 3.'
        }, [
          { label:'ok',     action:'ok'},
          { label:'cancel', action:'cancel'}
        ]),
        Story.Switch({ 
          ok: [ 
            Story.Dialog('basic-dialog', {
              title: 'Thanks!',
              content: "You pressed OK, I hope you're ok with that",
            }, [ 
              { label : 'close', action: '.' },
              { label : 'cancel', action: 'cancel' }
            ]),
            Story.Switch({
              cancel: [ function() { Story.find('testdialog').please('restart'); } ],
            })
          ]
        })
      ]
    );

    $('<button>dialog</button>')
    .click(function() {
      var story = DialogStory.tell();
      story.update();
    })
    .appendTo($('body'))

-# vim: set sw=2 ts=2 expandtab :
