- uses :litijs


- content_for :title do
  Litijs Documentation

- content_for :script do
  :plain 
    var file = ({
      litijs: 'javascripts/litijs.js',
      template: 'javascripts/story/template.js',
      story: 'javascripts/story/story.js',
      core: 'javascripts/story/story_core.js',
      layer: 'javascripts/story/layer.js',
      mvc: 'javascripts/story/mvc.js',
    })[window.location.search.slice(1)] || 'javascripts/story/story_core.js';
    
    Litijs($('body'), file, function() {
      if(window.location.hash) {
        var element = document.getElementById('litijs.' + window.location.hash.slice(1));
        if(element) {
          window.scrollTo(0, $(element).offset().top);
        } else debugger;
      }
    });
-# vim: set sw=2 ts=2 expandtab :
