!!!5
%html
  %head
    %title ...
  %body{:style=>"background: #555; color: white; text-align: center; top: 150px; position: relative; font-size: 30px; font-family: monospace; font-weight: bold "}
    Something is happening, isn't this exciting?
