!!!5
%html
  %head
    - %w[ jquery-1.4.4 ].each do |js|
      %script{:src=>"/javascripts/story/#{js}.js", :type=>'text/javascript'}
    - %w[ layer story_core story mvc template ].each do |js|
      %script{:src=>"/javascripts/story/#{js}.js", :type=>'text/javascript'}
    - yield :head
    %style{:type=>'text/css'}
      - yield :style
  %body
    #templates{:style=>'display:none'}
      - yield :templates
    - yield
  %script{:type=>'text/javascript'}
    - yield :script
-# vim: set sw=2 ts=2 expandtab :
